nav {
  background-color: $base-color;
  display: flex;
  padding: 2.5rem;
}

h1.logo {
  display: flex;
  flex: 50%;
  font-size: 2.5rem;
  font-family: $sigmar;
  font-weight: 100;
}

.nav-list {
  display: flex;
  flex: 50%;
  justify-content: flex-end;
  align-items: center;
  list-style: none;

  a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
  }
}

.nav-item {
  margin: 0 40px;
}
