@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&family=Sigmar+One&display=swap");

$base-color: #ff7063;
$josefin: "Josefin Sans", sans-serif;
$roboto: "Roboto Mono", monospace;
$sigmar: "Sigmar One", cursive;
$taco-green: #006545;

@import "global";
.section {
  padding: 2.5rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header {
  font-size: 5rem;
  text-align: center;
  padding: 2rem;
}

@import "nav";
@import "hero";
@import "about";
@import "testimonials";
@import "prices";
@import "contact";
@import "footer";
@import "mediaqueries";
